{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/elliptic
  {:git/url "https://github.com/nuid/elliptic.git",
   :sha "68ffb6ad16a9c23f0d1d4ee3db2bd9af208eadb6"},
  nuid/cryptography
  {:git/url "https://github.com/nuid/cryptography.git",
   :sha "654857361a87d9559d764a30bfc866223125577a"},
  nuid/ethereum
  {:git/url "https://github.com/nuid/ethereum.git",
   :sha "0fb6fc78e4a524a6fd2ec09fa59f04156b656cc8"}},
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.753"},
    thheller/shadow-cljs {:mvn/version "2.8.109"}}}},
 :paths ["src"]}
