{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/ident
  {:git/url "https://github.com/nuid/ident.git",
   :sha "f4b9ef164b175f515f032aa194a17727d71eedb4"},
  nuid/elliptic
  {:git/url "https://github.com/nuid/elliptic.git",
   :sha "55935a4471d8922c3ecc80c6fc8c1e2ef42fc59e"},
  nuid/ethereum
  {:git/url "https://github.com/nuid/ethereum.git",
   :sha "c77e3b0c83ba33b472af3e91ad0e0ba4d3c2c11a"},
  nuid/cryptography
  {:git/url "https://github.com/nuid/cryptography.git",
   :sha "487c4d6453c8124afb0c58726c46cea76496a111"}},
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
